<head>
  <meta charset="utf-8">
      <%= stylesheet_link_tag "signup" %>
  </head>

  <body>

    <main>
      <%= form_for User.new do |form| %>

        <div class="input-field">
          <%= form.label :förnamn %><br>
          <%= form.text_field :förnamn, :required => true %>
        </div>

        <div class="input-field">
          <%= form.label :efternamn %><br>
          <%= form.text_field :efternamn, :required => true %>
        </div>

        <div class="input-field">
          <%= form.label :mail %><br>
          <%= form.email_field :mail, :required => true %>
        </div>

        <div class="input-field">
          <%= form.label :password %><br>
          <%= form.password_field :password, :required => true %>
        </div>

        <%= form.submit 'Login', :class => 'btn deep-orange darken-2' %>
      <% end %>
    </main>

</body>
