<html style="background-color: black">
<p style="color: white">
  <strong>Förnamn:</strong>
  <%= @user.förnamn %>
</p>

<p style="color: white">
  <strong>Efternamn:</strong>
  <%= @user.efternamn %>
</p>

<p style="color: white">
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p style="color: white">
  <strong>Påsar:</strong>
  <%= @user.bags.round(0)%>
</p>

<p style="color: white">
  <strong>Lösenord(krypterat):</strong>
  <%= @user.password %>
</p>

</html>
