<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
  <%= stylesheet_link_tag "vision" %>
</head>

<body>
  <main>
    <h3>Meet the team</h3>
    <div class="team">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
    </div>

    <div class="cutoff"></div>
    <h5>Vår vision</h5>
    <div class="forsnack">
      <img src="<%= asset_path("work.PNG") %>">
      <p class="first">Lorem ipsum används ofta som exempeltext inom trycksaksframställning
          och grafisk design för att visa hur till exempel ett dokument kommer
        att se ut när väl den riktiga texten är på plats. Lorem ipsum visar
         hur layout, teckensnitt och typografi samspelar, utan att texten,
          undermedvetet genom ordens betydelse, ska påverka betraktaren. Lorem
           ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
             minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in
               reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                 sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="vd">
      <h5>Ord från vår VD</h5>
      <p>Vi bakom På Bar Backe vill bringa uppmärksamhet till Göteborgs mest
         utsatta människor. Eftersom vi i grunden är ett välgörenhetsföretag
          så är vårt största mål att dra vårt strå till stacken. Men eftersom
           frågan om hemlösa i Göteborg är en fråga vi vill lyfta så är all
            publicitet positivt. Vi har alltid arbetat efter ett dynamiskt
             företagsklimat där nya idéer alltid är välkomnande.
              Därför har vi haft många lösningar och förändringar genom årets
               lopp. Några av de avgörande var våra val av samarbete och hur vi
                tryckte våra påsar. Det visade stort resultat under de krisande
                 stunder då vi snabbt ändrat våra planer och gått ut med något
                  oförberett och handskrivet. Men som alltid har vi överkommit
                   rädslor och hinder med fantastisk bravur.
      </p>
    </div>
  </main>
</body>
