<head>
  <%= stylesheet_link_tag "vision" %>
</head>

<body>
  <main>
    <div class="team">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
      <img src="<%= asset_path("henrik.jpg") %>">
    </div>

    <div class="cutoff">
      <div class="textblock">
        The team
      </div>
    </div>
  </main>
</body>
