<head>
  <!-- Payment essentials -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "payments" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>


<body>

  <main>
    <div>
      <div>
        <img src="<%= asset_path("samarbete.png") %>">
        <div class="cutoff"></div>
        <h3>80kr</h3>
      </div>
      <form class="grey darken-3" action="/pay/" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <input type="hidden" name="token" />
        <div class="group">
          <label>
            <span>Card</span>
            <div id="card-element" class="field"></div>
          </label>
        </div>
        <div class="group">
          <label>
            <span>Address</span>
            <input id="address-line1" name="address_line1" class="field input-field" placeholder="Origovägen 32" />
          </label>
          <label>
            <span>Stad</span>
            <input id="address-city" name="address_city" class="field input-field" placeholder="Göteborg" />
          </label>
          <label>
            <span>Postnummer</span>
            <input id="address-zip" name="address_zip" class="field input-field" placeholder="43420" />
          </label>
        </div>
        <button class="btn deep-orange darken-2" type="submit">Betala</button>
        <div class="outcome">
          <div class="error"></div>
          <div class="success">
            <span class="token grey-text darken-3"></span>
          </div>
        </div>
      </form>
    </div>
  </main>



    <script type="text/javascript">
    // Create a Stripe client
    var stripe = Stripe($('meta[name="stripe-key"]').attr('content'));
    var elements = stripe.elements();

    var card = elements.create('card', {
      hidePostalCode: true,
      style: {
        base: {
          iconColor: '#CFD7E0',
          color: '#FFFFFF',
          lineHeight: '40px',
          fontWeight: 300,
          fontFamily: 'Helvetica Neue',
          fontSize: '15px',

          '::placeholder': {
            color: '#CFD7E0',
          },
        },
      }
    });
    card.mount('#card-element');

    function setOutcome(result) {
      var successElement = document.querySelector('.success');
      var errorElement = document.querySelector('.error');
      successElement.classList.remove('visible');
      errorElement.classList.remove('visible');

      if (result.token) {
        // In this example, we're simply displaying the token
        successElement.querySelector('.token').textContent = result.token.id;
        successElement.classList.add('visible');


        // In a real integration, you'd submit the form with the token to your backend server
        var form = document.querySelector('form');

        form.querySelector('input[name="token"]').setAttribute('value', result.token.id);
        form.submit();
      } else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }

    card.on('change', function(event) {
      setOutcome(event);
    });

    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault();
      var options = {
        address_line1: document.getElementById('address-line1').value,
        address_city: document.getElementById('address-city').value,
        address_zip: document.getElementById('address-zip').value,
      };

      stripe.createToken(card, options).then(setOutcome);
    });
    </script>
